.clients {
  background: #f7f6f3;
  padding: 80px 40px 104px;
}

.clients__header {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 0;
  border-bottom: 1px solid #6D6B67;
  padding-bottom: 35px;
}

.clients__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 44px;
  border-bottom: 1px solid #6D6B67;
  padding-bottom: 44px;
}

.clients__stroke {
  display: flex;
  /* gap: 160px; */
  justify-content: space-between;
  padding: 0 100px;
}

.clients__logo {
  width: 180px;
}

.clients__header_span {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.2px;
}
